# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environments
.venv/
venv/
env/
.env

# VCS
.git
.gitignore
.github/

# OS
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Local data
data/
tests/
notebooks/
*.log
*.sqlite

# Documentation
README.md
docs/

# CI/CD
.dockerignore
Dockerfile*
docker-compose*.yml